.added{
    background-color: purple;
    color: white;
    border-radius: 10px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    font-weight: 300;
}

.added h5{
    font-weight: 300;
}

.x{
    margin-left: 5px;
    cursor: pointer;
}